<!-- Copies the entire BASE.html template -->
{% extends 'base.html' %} 

{% block head %} {{ super() }}

<!-- We can add our own CSS files inside the HEAD section-->
<link rel="stylesheet" href="{{ url_for('static',filename='extended_beauty.css') }}">

{% endblock %} 

<!-- We are adding content in the BODY section -->
{% block content %}

<div class="showcase">
    <img src="{{ url_for('static',filename='images/pushups.png') }}" alt="Pushup Guy" height="200px">
</div>
<div class="container">
    <h3>Hello!</h3>
    <p>
        Welcome to the push-ups logger! <br>
        This website implements basic CRUD functionality & user authentication.
    </p>
</div>

{% endblock %}